.container {
  width: 800px;
  margin: 20px;
}

.subgrid-layout {
  --column-0-width: 200px;
  --column-1-width: 200px;
  --column-2-width: 200px;

  display: grid;
  grid-template-columns: var(--column-0-width) var(--column-1-width) var(--column-2-width);
}

.subgrid-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}


.grid-layout {
  --column-0-width: 200px;
  --column-1-width: 200px;
  --column-2-width: 200px;
}

.grid-row {
  display: grid;
  grid-template-columns: var(--column-0-width) var(--column-1-width) var(--column-2-width);
}

.table-layout {
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
}

.cell {
  padding: 8px;
  border: 1px solid #ccc;
}

.controls {
  margin-bottom: 20px;
}

.results {
  margin-bottom: 20px;
}

.flex-layout {
  display: flex;
  flex-direction: column;

  --column-0-width: 200px;
  --column-1-width: 200px;
  --column-2-width: 200px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
